<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="/static/layui/css/layui.css" />
    <meta charset="UTF-8">
    <title>测试</title>
    <!--<link rel="stylesheet" href="/static/css/bootstrap.css">-->
    <link rel="stylesheet" href="/static/css/newbie.css">
</head>

<body>
    <div class="container-fluid">
        <div class="layui-form-item my-action" action="{:url('Index/Index/test')}">
            <label class="layui-form-label">输入框</label>
            <div class="layui-input-block">
                <input class="layui-input" type="text" required lay-verify="required" autocomplete="off" name="title" placeholder="情输入标题"
                />
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn send-btn" lay-submit lay-filter="formDemo">立即提交</button>
            </div>
        </div>
    </div>
</body>

<!--<script type='text/javascript' src='/static/js/jquery.min.js'></script>-->
<script type="text/javascript" src="/static/layui/layui.js"></script>
<script type='text/javascript' src='/static/index.js'></script>
<!--<script type='text/javascript' src='/static/js/bootstrap.js'></script>-->

</html>